@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Aktiv Grotesk';
	font-size:18px ;
	font-weight: lighter;
	margin:0px;
}

h1{
	font-family:'Aktiv Grotesk';
	font-weight:bolder;
}

a{
	text-decoration: none; 
}

.logo img{
	width:350px;
	height: fixed;
	padding:5%;
	padding-top:2%;
	display:block;
}
 
* {
  box-sizing: border-box;
}


.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  font-family: Aktiv Grotesk;
  color:#3c5c19;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #3c5c19;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3%;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:#fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}